@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
  --cor-de-fundo: #1E1E1E;
  --roxo : #ab80e4d2;
  --branco: #ffffff;
  --botao-ativo: #3b31ad;
  --botao-inativo: rgba(58, 55, 94, 0.5);
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f8f8;
}

.titulo-principal {
  font-size: 48px;
  margin: 20px 0;
  color: #2563eb; /* Roxo escuro */
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.objetivo {
  background-color: #fff;
  border: 2px solid #2563eb;
  border-radius: 10px;
  width: 250px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.objetivo:hover {
  transform: scale(1.05);
}

.objetivo-texto {
  font-size: 20px;
  font-weight: bold;
  color: #2563eb; /* Roxo escuro */
}

.cronometro {
  display: none;
  margin-top: 15px;
}

.contador {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contador-digito {
  padding: 0 10px;
  text-align: center;
}

.contador-digito p:first-child {
  font-size: 32px;
  margin: 0;
}

.contador-digito p:last-child {
  font-size: 16px;
  margin: 0;
  color: #2563eb;
}

.imagem-objetivo {
  width: 180px;
  height: auto;
  margin-top: 15px;
  border-radius: 10px;
  display: none;
}